<div class="container">
  <div class="row mx-auto">
    <div class="card bg-light mb-3" style="">
      <div class="card-header">Car Information</div>
      <div class="card-body">
        <app-car-lists [cars]="cars"></app-car-lists>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">Promotions</div>
      <div class="card-body">
        <h5 class="card-title">BMW X5</h5>
        <p class="card-text">
          Limited time only. Up to $6000 off. Finance lease only need $88 per month.
        </p>
      </div>
    </div>
  </div>
</div>
